body {
	background-image: url(../img/bg.jpg);
	font-family: "Sans Narrow", sans-serif;
	font-weight: bold;
	color: #f7f4f1;
	font-size: 14px;
	line-height: 24px;
}
h2 {
	font-size: 30px;
	line-height: 1.5;
}
